.signIn {
  background-color: #1d2738;
  height: 100vh;
  width: 400px;
  margin: 10px;
  border-radius: 10px;
  color: #384d54;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.SignInButton {
  height: 37px;
  width: 308px;
  background-color: #384d54;
  border: 2px solid #384d54;
  border-radius: 5px;
  color: #ffffff;
}

label {
  display: block;
  margin: 5px;
  color: #384d54;
}
.signInForm {
  margin: 25px;
}
