.main {
  background-color: #ffffff;
  padding: 20px;
  width: 400px;
  border: 1px solid #eff2f3;
}

.unScheduleDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dragDrop {
  display: flex;
  align-items: center;
  background-color: #dedede;
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
}

.unScheduleDiv input {
  height: 40px;
}
