/* Sidebar container */
.mainSideBar {
  display: grid;
  border-right: 1px solid #e9e9e9;
  width: 300px;
  margin-top: 20px;
}

/* Header */
.header {
  display: grid;
  grid-template-columns: 25px 1fr 25px 35px;
  align-items: center;
  padding: 0 10px;
  height: 60px;
  border-bottom: 1px solid #e9e9e9;
  font-weight: 600;
}

/* Developer row */
.devRow {
  display: grid;
  grid-template-columns: 25px 40px 1fr;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
  height: 90px;
  border-bottom: 1px solid #e9e9e9;
}

/* Avatar image */
.avatarImg {
  background: #ffcc00;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

/* Developer info paragraph */
.devInfoP {
  margin: 2px 0;
  font-size: 12px;
}

/* Developer name */
.devName {
  font-weight: 600;
  font-size: 13px;
}
